
.public-center-container {
    width: 1000px;
    margin: 0 auto;
}

.index-banner {
    height: 494px;
    width: 100%;
    background: url("../images/banner-bg.jpg");
}

.back {
    float: left;
    height: 58px;
    width: 58px;
    background-color: green;
}

.test {
    height: 100px;
    width: 100%;
    background-color: red;
}
